<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127205810460-i1g216e160mtqdsqo1n7sc7g14h193ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127205810460-i1g216e160mtqdsqo1n7sc7g14h193ie</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>127205810460-ut0rs90767qon0bjhvmo8o4u47ksvblp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1Jxdsd71X1WNKuLH9Ak9fv8OJrNdLaGY</string>
	<key>GCM_SENDER_ID</key>
	<string>127205810460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>login-aydigi</string>
	<key>STORAGE_BUCKET</key>
	<string>login-aydigi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127205810460:ios:24d3249ab52b5a6e579ad9</string>
</dict>
</plist>